@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url('./assets/fonts/Montserrat/Montserrat-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  src: local('Montserrat'), url('./assets/fonts/Montserrat/Montserrat-Bold.woff') format('woff');
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  --black-two: #121212;
}
